@font-face {
    font-family: 'roboto-medium';
    src: url('font/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'longhaul';
    src: url('font/Longhaul.ttf') format('truetype');

}



body {
    background-color: black;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    -ms-overflow-style: none;
    }

    .box {
    width: 100%;
    padding-top: 4ch;
    padding-bottom: 0.8ch;
    

    }

    ::-webkit-scrollbar {
    display: none;
    }

    .target::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

  


    .homebutton a:link, a:visited{
    text-decoration: none;
    color:white;
    }   

    .homebutton a {
    color: white !important;
    }

    .thumb p{  white-space: pre-line;
    }
    
    
    
    .thumb img{

    width: 93%;




    }

    .egg a:link, a:visited{
    text-decoration: none ! important;
    color:rgb(0, 0, 0);}

    .egg {
        color:rgb(0, 0, 0);}



@media (min-width:769px) {

    .homebutton{
        background-color: black;

        position: fixed;
        font-family: 'longhaul';    
        text-align: center;
        font-size: 3.5rem;
        width: 100%;
        padding-top: 0.5ch;
        padding-bottom: 0.5ch;
        margin-bottom: 0px;
    }

    .archive {
    font-family: 'roboto-medium';   
    white-space: pre-line;
    color:white;
    font-size: 1.5rem ;
    margin-top:2%;
    margin-right:3%;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr;

    }

    
}


@media (max-width:768px) {
   
    .homebutton{
        background-color: black;

        position: fixed;
        font-family: 'longhaul';    
        text-align: center;
        font-size: 2.2rem;
        width: 100%;
        padding-top: 0.5ch;
        padding-bottom: 0.5ch;
        margin-bottom: 0px;
    }

    
    .archive {
    font-family: 'roboto-medium';  
    color:white;
    margin-top:1%;
  
    font-size: 3.5vw ;
    margin-right:3%;
    text-align: right;

    }
    
       
    }
    