@font-face {
    font-family: 'roboto-medium';
    src: url('font/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'longhaul';
    src: url('font/Longhaul.ttf') format('truetype');

}

body {
   
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    -ms-overflow-style: none;
}

.box {
    width: 100%;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    font-size: 3em ;

}

::-webkit-scrollbar {
    display: none;
  }
  
  .target::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
  }

.home{
    position:fixed;
    font-family: 'longhaul';    
    text-align: center;
    font-size: 3em ;
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    margin-bottom:0px;
}

.home a:link, a:visited{
    text-decoration: none ! important;
    color:aliceblue;
}   

.archive {
    font-size: 1.5vw ;
    margin-top:2%;
    margin-left:1%;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
}

.archive p{
    margin-top: 0%;
    font-family: 'roboto-medium'; 
}

.thumb img{
    width: 98%;
  
    
  

}

.egg a:link, a:visited{
    text-decoration: none ! important;
    color:rgb(255, 255, 255);}

.egg {
        color:rgb(255, 255, 255);}